<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <nav>
        <h2>Matthias Mets</h2>

        <div>
            <a href="#projects">Projecten</a>
            <a href="#contact">Contact</a>
        </div>
    </nav>

    <main>
        <section class="hero">
            <h1>Full-stack developer</h1>

            <p>
                Student Graduaat Programmeren met interesse in
                TypeScript, .NET en Linux servers.
            </p>
        </section>

        <section id="skills">
    <h2>Skills</h2>

    <div class="skills">
        <span>Docker</span>
        <span>TypeScript</span>
        <span>JavaScript</span>
        <span>.NET</span>
        <span>SQL</span>
        <span>Linux</span>
        <span>Node.js</span>
        <span>Git</span>
        <span>Express</span>
        <span>EJS</span>
    </div>
</section>

<section id="projects">
    <h2>Projecten</h2>

    <div class="card">
        <h3>Webontwikkeling Project</h3>

        <p>
            Full-stack webapplicatie gebouwd met Node.js,
            Express, EJS en SQL database.
        </p>

        <a href="https://github.com/AP-G-1PRO-Webontwikkeling/project-webontwikkeling-2025-matthiasmetsstudent" target="_blank">
            Bekijk project
        </a>
    </div>

    <div class="card">
        <h3>GameHub-Project</h3>

        <p>
            Groepsproject ontwikkeld met ons 3 voor het vak WPL-Project. Hierbij hebben we een Game pagina gemaakt met interactieve features zoals: Collecties, Minigames en informatie pagina's van meer dan 500.000 games.
        </p>

        <a href="https://github.com/nikitaov5/IT-zo" target="_blank">
            Bekijk project
        </a>
    </div>

    <div class="card">
        <h3>Portfolio Website</h3>

        <p>
            Persoonlijke portfolio website gedeployed met Docker
            op een Linux VPS.
        </p>
    </div>
</section>

        <section id="contact">
            <h2>Contact</h2>

            <a href="https://github.com/matthiasmetsstudent">
                GitHub - Klik hier
            </a>

            <p href="">E-mail: matthiasmets@gmail.com</p>
        </section>
    </main>
</body>

</html>